*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #eee;
  font-family: sans-serif, arial;
}

.container{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.counterBody{
  margin-top: 100px;
  display: flex;
  padding: 10px 10px 10px 20px;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
}

.second{
  text-align: center;
  width: 12%;
  padding: 8px;
  
  p{
    color: white;
    font-size: 100px;
    line-height: 70px;
  }
}